#errorExplanation {
  width: 40em;
  margin:0 auto;
  background-color: #CD4D2F;
}

#errorExplanation ul {
  list-style:none;
  font-size: 18pt;
}

#errorExplanation li {
	color:white;
	padding:1em;
}